<form class="sections_forms" id="bi_plot_form" method="post" style="display: block;">
  <h3>Biplot</h3>
  <div class="form-inner">
    <div class="form-group">
	  <label for="bi_title" class="control-label">Title:<span class="form-required" title="This field is required."></span></label>
	  <input type="text" class="form-control" id="bi_title" name="bi_title" required="" pattern=".*\S+.*">
    </div>
    <div class="form-group">
	  <label for="bi_color_col" class="control-label">Select Name:<span class="form-required" title="This field is required."></span></label>
	  {% if factorNlogical is empty %}
		<select class="form-control color-sel" id="bi_color_col" name="bi_color_col" disabled required>
		  <option data-type="" value="">No column available for color variable </option>
		</select>
	  {% else %}
		<select class="form-control color-sel" id="bi_color_col" name="bi_color_col" required>
		  {#factorNlogical#}
		  <option data-type="" value="">--- Select Column ----</option>
		  {% for data in factorNlogical %}
			{% set foo = data|split('=') %}
			<option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		  {% endfor %}
		</select>
	  {% endif %}
    </div>
   <div class="form-group">
	  <label for="bi_xaxis_col" class="control-label">Select Variables:<span class="form-required" title="This field is required."></span></label>
	  <select class="selectpicker multiselect" id="bi_xaxis_col" name="bi_xaxis_col" multiple required>
		{% for data in num_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
    </div>
    <div class="form-group filter-div">
	  <label for="" class="control-label filters">Filters:</label>
	  <div class="filter_note"><span class="form-required"></span>Character filters are case sensitive for "is equal to" operator.</div>
    </div>
    <input type="hidden" name="bi_filter_count" id="bi_filter_count" value="1">
    <input type="hidden" name="csv_file_path" id="csvFilePath" value="{{ file_path }}">
    <input type="hidden" name="img_dir" id="imgDir" value="{{ img_dir }}">
    <input type="hidden" id="module_path_box" name="module_path_box" value="{{ module_path }}">
    <div id="bi_filter1" class="form-group form-inline filterDiv first">
	  <select class="form-control filterColoumSel filter-sel" id="bi_filter_sel1" name="bi_filter_sel1">
		<option data-type="" value="">--- Select Filter ----</option>
		{% for data in merged_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	  <select class="form-control filter-oper" id="bi_filter_cond_sel1" name="bi_filter_cond_sel1">
	    <option value="">--Select Operator--</option>
	  </select>
	  <input type="text" class="form-control filter-val" id="bi_filter_cond_val1" name="bi_filter_cond_val1" placeholder="Value">
    </div>
    <div class="form-group add-more-cont">
      <a id="bi_addb" class="add-more" name="bi_addmore" type="">Add Condition</a>
    </div>
  </div><!-- end form-inner--> 
  <div class="form-group form-btns">
	<button type="button" class="btn btn-default cancel_btn">Cancel</button>
	<input type="submit" class="btn btn-default submit-btn" name="bi_plot_sub" value="Submit" id="bi_plot_sub">
  </div>
</form>