<form class="sections_forms" id="box_plot_form" method="post" style="display: block;">
  <h3>Boxplot</h3>
  <div class="form-inner">
	<div class="form-group">
	  <label for="box_title" class="control-label">Title:<span class="form-required" title="This field is required."></span></label>
	  <input type="text" class="form-control" id="box_title" name="box_title" required="" pattern=".*\S+.*">
	</div>
    <div class="form-group">
	  <label for="box_xaxis_col" class="control-label">Select x-axis column:<span class="form-required" title="This field is required."></span></label>
	  <select class="form-control singleselect" id="box_xaxis_col" name="box_xaxis_col" required="">
		<option data-type="" value="">--- Select Column ----</option>
		{% for data in num_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
    </div>
    <div class="form-group">
	  <label for="box_xtitle" class="control-label">X-axis title:</label>
	  <input type="text"  class="form-control" id="box_xtitle" name="box_xtitle">
    </div>
    <div class="form-group">
	  <label for="box_color_col" class="control-label">Select Color column:</label>
	  {% if all_types.factor_type is empty %}
		<select class="form-control color-sel" id="box_color_col" name="box_color_col" disabled>
          <option data-type="" value="">No column available for color variable </option>
		</select>
	  {% else %}
		<select class="form-control color-sel" id="box_color_col" name="box_color_col">
		{#all_types.factor_type#}
		  <option data-type="" value="">--- Select Column ----</option>
		  {% for data in all_types.factor_type %}
			{% set foo = data|split('=') %}
			<option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		  {% endfor %}
		 </select>
	  {% endif %}
    </div>
    <div class="form-group filter-div">
	  <label for="" class="control-label filters">Filters:</label>
	  <div class="filter_note"><span class="form-required"></span>Character filters are case sensitive for "is equal to" operator.</div>
    </div>
    <input type="hidden" name="box_filter_count" id="box_filter_count" value="1">
    <input type="hidden" name="csv_file_path" id="csvFilePath" value="{{ file_path }}">
    <input type="hidden" name="img_dir" id="imgDir" value="{{ img_dir }}">
    <input type="hidden" id="module_path_box" name="module_path_box" value="{{ module_path }}">
    <div id="box_filter1" class="form-group form-inline filterDiv first">
	  <select class="form-control filterColoumSel filter-sel" id="box_filter_sel1" name="box_filter_sel1">
		<option data-type="" value="">--- Select Filter ----</option>
		{% for data in merged_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	  <select class="form-control filter-oper" id="box_filter_cond_sel1" name="box_filter_cond_sel1">
        <option value="">--Select Operator--</option>
	  </select>
        <input type="text" class="form-control filter-val" id="box_filter_cond_val1" name="box_filter_cond_val1" placeholder="Value">
    </div>
    <div class="form-group add-more-cont">
      <a id="box_addb" class="add-more" name="box_addmore" type="">Add Condition</a>
    </div>
  </div><!-- end form-inner--> 
  <div class="form-group form-btns">
	<input type="submit" class="btn btn-default submit-btn" name="box_plot_sub" value="Submit" id="box_plot_sub">
	  <button type="button" class="btn btn-default cancel_btn">Cancel</button>
	  <img class="classifier-modify" src="/sites/default/files/graphloader.gif">
  </div>
	<input id="boxplotfile" type="hidden" name="boxplotfile" value="">
</form>