<form class="sections_forms" id="pie_form" method="post" style="display: block;">
  <h3>Pie Chart</h3>
  <div class="form-inner">
	<div class="form-group">
	  <label for="pie_title" class="control-label">Title:<span class="form-required" title="This field is required."></span></label>
	  <input type="text" class="form-control" id="pie_title" name="pie_title" required pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+">
	</div>
	<div class="form-group">
	  <label for="pie_xaxis_col" class="control-label">Select column:<span class="form-required" title="This field is required."></span></label>
	  <select class="form-control singleselect" id="pie_xaxis_col" name="pie_xaxis_col" required >
		<option data-type="" value="">--- Select Column ----</option>
		{% for data in all_types %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	</div>
	<div class="form-group filter-div">
	  <label for="" class="control-label filters">Filters:</label>
	  <div class="filter_note"><span class="form-required"></span>Character filters are case sensitive for "is equal to" operator.</div>
	</div>
	<input type="hidden" name="pie_filter_count" id="pie_filter_count" value="1" />
	<input type="hidden" name="csv_file_path" id="csvFilePath" value="{{ file_path }}">
	<input type="hidden" name="img_dir" id="imgDir" value="{{ img_dir }}">
	<input type="hidden" id="module_path_line" name="module_path_line" value="{{ module_path }}">
	<div id="pie_filter1" class="form-group form-inline filterDiv first">
	  <select class="form-control filterColoumSel" id="pie_filter_sel1" name="pie_filter_sel1">
		<option data-type="" value="">--- Select Filter ----</option>
		{% for data in merged_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	  <select class="form-control" id="pie_filter_cond_sel1" name="pie_filter_cond_sel1">
        <option value="">--Select Operator--</option>
	  </select>
      <input type="text" class="form-control" id="pie_filter_cond_val1" name="pie_filter_cond_val1" placeholder="Value">
	</div>
	<div class="form-group  add-more-cont">
      <a id="pie_addb" class="add-more" name="pie_addmore" type="">Add Condition</a>
	</div>
  </div><!-- end form-inner-->
  <div class="form-group form-btns">
	<input type="submit" class="btn btn-primary submit-btn" name="pie_sub" value="Submit" id="pie_sub" >
	  <button type="button" class="btn btn-default cancel_btn">Cancel</button>
	  <img class="classifier-modify" src="/sites/default/files/graphloader.gif">
  </div>
	<input id="piechartfile" type="hidden" name="piechartfile" value="">
</form>