<form class="sections_forms" id="scatter_plot_form" method="post" style="display: block;">
  <h3>3D Scatter Plot</h3>
  <div class="form-inner">
	<div class="form-group">
	  <label for="scatter_title" class="control-label">Title:<span class="form-required" title="This field is required."></span></label>
	  <input type="text" class="form-control" id="scatter_title" name="scatter_title" required="" pattern=".*\S+.*">
	</div>
	<div class="form-group">
	  <label for="scatter_xaxis_col" class="control-label">Select x-axis column:<span class="form-required" title="This field is required."></span></label>
	  <select class="form-control singleselect" id="scatter_xaxis_col" name="scatter_xaxis_col" required="">
		<option data-type="" value="">--- Select Column ----</option>
		{% for data in num_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	</div>
	<div class="form-group">
	  <label for="scatter_yaxis_col" class="control-label">Select y-axis column:<span class="form-required" title="This field is required."></span></label>
	  <select class="form-control singleselect" id="scatter_yaxis_col" name="scatter_yaxis_col" required="">
		<option data-type="" value="">--- Select Column ----</option>
		{% for data in num_fields %}
			{% set foo = data|split('=') %}
			<option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	</div>
	<div class="form-group">
	  <label for="scatter_zaxis_col" class="control-label">Select z-axis column:<span class="form-required" title="This field is required."></span></label>
	  <select class="form-control singleselect" id="scatter_zaxis_col" name="scatter_zaxis_col" required="">
		<option data-type="" value="">--- Select Column ----</option>
		{% for data in num_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	</div>
	<div class="form-group">
	  <label for="scatter_xtitle" class="control-label">X-axis title:</label>
	  <input type="text"  class="form-control" id="scatter_xtitle" name="scatter_xtitle">
	</div>
	<div class="form-group">
	  <label for="scatter_ytitle" class="control-label">Y-axis title:</label>
	  <input type="text" class="form-control" id="scatter_ytitle" name="scatter_ytitle">
	</div>
	<div class="form-group">
	  <label for="scatter_ztitle" class="control-label">Z-axis title:</label>
	  <input type="text" class="form-control" id="scatter_ztitle" name="scatter_ztitle">
	</div>
	<div class="form-group">
	  <label for="scatter_color_col" class="control-label">Select Color column:</label>
	  {% if all_types.factor_type is empty %}
		<select class="form-control color-sel" id="scatter_color_col" name="scatter_color_col" disabled>
          <option data-type="" value="">No column available for color variable </option>
		</select>
	  {% else %}
		<select class="form-control color-sel" id="scatter_color_col" name="scatter_color_col">
		  {#all_types.factor_type#}
		  <option data-type="" value="">--- Select Column ----</option>
		  {% for data in all_types.factor_type %}
			{% set foo = data|split('=') %}
			<option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		  {% endfor %}
		</select>
	  {% endif %}
	</div>
	<div class="form-group filter-div">
	  <label for="" class="control-label filters">Filters:</label>
	  <div class="filter_note"><span class="form-required"></span>Character filters are case sensitive for "is equal to" operator.</div>
	</div>
	<input type="hidden" name="scatter_filter_count" id="scatter_filter_count" value="1">
	<input type="hidden" name="csv_file_path" id="csvFilePath" value="{{ file_path }}">
	<input type="hidden" name="img_dir" id="imgDir" value="{{ img_dir }}">
	<input type="hidden" id="module_path_scatter" name="module_path_scatter" value="{{ module_path }}">
	<div id="scatter_filter1" class="form-group form-inline filterDiv first">
	  <select class="form-control filterColoumSel filter-sel" id="scatter_filter_sel1" name="scatter_filter_sel1">
		<option data-type="" value="">--- Select Filter ----</option>
		{% for data in merged_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	  <select class="form-control filter-oper" id="scatter_filter_cond_sel1" name="scatter_filter_cond_sel1">
        <option value="">--Select Operator--</option>
	  </select>
	  <input type="text" class="form-control filter-val" id="scatter_filter_cond_val1" name="scatter_filter_cond_val1" placeholder="Value">
	</div>
	<div class="form-group add-more-cont">
	  <a id="scatter_addb" class="add-more" name="scatter_addmore" type="">Add Condition</a>
	</div>
  </div><!-- end form-inner--> 
  <div class="form-group form-btns">
	<input type="submit" class="btn btn-default submit-btn" name="scatter_plot_sub" value="Submit" id="scatter_plot_sub">
	  <button type="button" class="btn btn-default cancel_btn">Cancel</button>
	  <img class="classifier-modify" src="/sites/default/files/graphloader.gif">
  </div>
	<input id="3dscatterfile" type="hidden" name="3dscatterfile" value="">

</form>

