<form class="sections_forms" id="cmatrix_chart_form" method="post" style="display: block;">
  <h3>Correlation Plot Matrix</h3>
  <div class="form-inner">
	<div class="form-group">
	  <label for="cmatrix_title" class="control-label">Title:<span class="form-required" title="This field is required."></span></label>
	  <input type="text" class="form-control" id="cmatrix_title" name="cmatrix_title" required="" pattern=".*\S+.*">
	</div>
	<div class="form-group">
	  <label for="cmatrixchart_xaxis_col" class="control-label">Select Value(s):<span class="form-required" title="This field is required."></span></label>
	  <select class="selectpicker multiselect" id="cmatrix_xaxis_col" name="cmatrix_xaxis_col" multiple required >
		{% for data in num_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	</div>
    <div class="form-group filter-div">
	  <label for="" class="control-label filters">Filters:</label>
	  <div class="filter_note"><span class="form-required"></span>Character filters are case sensitive for "is equal to" operator.</div>
    </div>
	<input type="hidden" name="cmatrix_filter_count" id="cmatrix_filter_count" value="1">
	<input type="hidden" name="csv_file_path" id="csvFilePath" value="{{ file_path }}">
	<input type="hidden" name="img_dir" id="imgDir" value="{{ img_dir }}">
	<input type="hidden" id="module_path_cmatrix" name="module_path_cmatrix" value="{{ module_path }}">
	<div id="cmatrix_filter1" class="form-group form-inline filterDiv first">
	  <select class="form-control filterColoumSel filter-sel" id="cmatrix_filter_sel1" name="cmatrix_filter_sel1">
		<option value="">--Select Column--</option>
		{% for data in merged_fields %}
		  {% set foo = data|split('=') %}
		  <option data-type="{{ foo[1] }}" value="{{ foo[0] }}">{{ foo[0] }}</option>
		{% endfor %}
	  </select>
	  <select class="form-control filter-oper" id="cmatrix_filter_cond_sel1" name="cmatrix_filter_cond_sel1">
        <option value="">--Select Operator--</option>
	  </select>
	  <input type="text" class="form-control filter-val" id="cmatrix_filter_cond_val1" name="cmatrix_filter_cond_val1" placeholder="Value">
	</div>
	<div class="form-group add-more-cont">
      <a id="cmatrix_addb" class="add-more" name="cmatrix_addmore" type="">Add Condition</a>
	</div> 
  </div><!--end form-inner--> 
  <div class="form-group form-btns">
	<button type="button" class="btn btn-default cancel_btn">Cancel</button>
	<input type="submit" class="btn btn-default submit-btn" name="cmatrix_chart_sub" value="Submit" id="cmatrix_chart_sub">
  </div>
</form>